<!DOCTYPE html>
<html>
<head>
  <title>Mariage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
  <meta name="author" content="FamousThemes" />
  <meta name="description" content="Get in the spotlight" />
  <meta name="keywords" content="premium css templates, premium wordpress themes, famous themes, themeforest" />
  <link href='http://fonts.googleapis.com/css?family=Clicker+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
  <div id="main_container">

    <%= render "shared/menu" %>
    <%= yield %>
    <%= render "shared/footer" %>

  </div>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" charset="utf-8">
    <%= yield :javascript %>
  </script>
</body>
</html>
